<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Variante Android TV : télécommande (D-pad), pas de tactile requis. -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application android:banner="@drawable/hero">

        <!-- Écran d'accueil TV (Leanback) : lanceur sur l'écran d'accueil de la box. -->
        <activity
            android:name=".tv.TvActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.MKTv">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".tv.TvSearchActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.MKTv" />

        <activity
            android:name=".tv.TvDetailActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.MKTv" />
    </application>
</manifest>
